@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600;700&family=Fredoka+One&family=Montserrat:wght@300;500&display=swap');
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}
/* header */
#header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8vh;
    width: 100%;
}
/* logo */
#logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5vw;
    padding-left: 5vw;
}
#logoImage {
    display: none;
    width: 4vw;
}
#logoName {
    color: white;
    font-size: 1.4em;
    transition: all 0.3s ease-in-out;
}
#logoName:hover {
    color: rgb(168, 168, 168);
}
/* navbar */
#navigation {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 5vw;
    gap: 3vw;
}
#menuItem1, #menuItem2, #menuItem3, #menuItem4 {
    display: inline-block;
    color: white;
    font-size: 1.2em;
    transition: all 0.3s ease-in-out;
}
#menuItem1:hover, #menuItem2:hover, #menuItem3:hover, #menuItem4:hover {
    color: rgb(168, 168, 168);
}
#menu {
    filter: brightness(0) invert(1);
    display: none;
}
/* main */
/* start of page */
#startDiv {
    background-image: url("https://cdn.discordapp.com/attachments/953366989634699314/961708315019214868/Background_Waves.png");
    background-repeat:no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 8vw;
}
#myImage {
    width: 20%;
    border-radius:50%;
}
#aboutMe {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#presenting {
    color: white;
    font-size: 3em;
    font-weight: 500;
    text-align: center;
}
#aboutMeDescription {
    color: white;
    font-size: 2em;
    font-weight: 300;
    text-align: center;
}
#browseButton {
    margin-top: 2vh;
    border: none;
    border-radius: 4em;
    background-color: rgb(21, 21, 21);
    width:16vw;
    height:9vh;
    color: white;
    cursor: pointer;
    font-size: 1.3em;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
}
#browseButton:hover {
    background-color: rgb(66, 66, 66);
}
/* quote */
#quoteDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
    background-color:rgb(21, 21, 21);
    height: 40vh;
}
#quoteText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    width: 70%;
}
#quote {
    font-size: 2em;
    text-align: center;
}
#author {
    text-align: center;
    align-self: flex-end;
}
/* skills */
#skillsDiv {
    background-image: url("https://cdn.discordapp.com/attachments/953366989634699314/961708315019214868/Background_Waves.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
    gap: 2vh;
}
#skillsTitle {
    color: white;
    font-size: 2.5em;
    display: none;
}
#skills {
    display: flex;
    flex-direction: row;
    gap: 5vw;
}
.group {
    display: flex;
    flex-direction: row;
    gap: 5vw;
}
.language {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
}
.languageImage {
    width: 10vw;
}
.languageName {
    color: white;
    font-weight: 600;
    font-size: 1.4em;
    letter-spacing: 0.15em;
}
/* projects */
#projectAnchor {
    position: relative;
    height: 0;

}
#projectDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(21, 21, 21);
    padding-top: 3vh;
    padding-bottom: 8vh;
    gap: 5vh;   
}
#projectDivTitle {
    color: white;
    font-size: 2.5em;
    font-weight: 500;
}
.projectImage {
    width: 50vw;
    transition: all 0.3s ease-in-out;
}
.projectImage:hover {
    transform: scale(1.05);
}
.project1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3vw;
}
.project2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3vw;
}
.projectDescription {
    display: flex;
    flex-direction: column;
    gap: 1.4vh;
    width: 40%;
    text-align: justify;
    color: white;
}
.projectTitle {
    font-size: 2em;
    font-weight: 300;
}
.description {
    font-size: 1em;
}
.learnMoreButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    color: white;
    width: 14vw;
    height: 8vh;
    border-radius: 2em;
    font-size: 1.3em;
    background-color: #303030;
    transition: all 0.3s ease-in-out;
}
.learnMoreButton:hover {
    background-color: #232323;
}
/* last section, end of page */
#endDiv {
    background-image: url("https://cdn.discordapp.com/attachments/953366989634699314/961708315019214868/Background_Waves.png");
    background-size: cover;
    height: 40vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/* contact */
.contact {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    padding-top: 2vh;
    padding-left: 5vw;
}
.contactTitle {
    color: white;
}
.contactDivTitle {
    font-size: 2.5em;
    font-weight: 500;
}
.contactDescription {
    font-size: 1.2em;
    font-weight: 300;
}
#contactInfo {
    display: flex;
    flex-direction: column;
    gap: 0.8vh;
    color: white;
}
.contactItem {
    font-size: 1em;
}
/* socialMedia */
#socialMediaBar {
    display: flex;
    flex-direction: row;
    gap: 1vw;
}
.socialMedia {
    width: 2em;
    transition: all 0.3s ease-in-out;
}
.socialMedia:hover {
    transform: scale(1.1);
}
/* sitemap */
.sitemap {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    padding-top: 2vh;
}
.sitemapItem {
    color: white;
    font-size: 1em;
    transition: all 0.3s ease-in-out;
}
.sitemapItem:hover {
    color: rgb(168, 168, 168);
}
#contactLogo {
    align-self: center;
    width: 20vw;
    padding-right: 5vw;
    transition: all 0.3s ease-in-out;
}
#contactLogo:hover {
    transform: scale(1.05);
}
/* footer */
#footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(21, 21, 21);
    padding: 1vh;
}
#copyright {
    color: white;
    font-weight: 400;
}
/* media query */
@media only screen and (max-width:700px) {
    /* header */
    #header {
        background-color: rgb(21, 21, 21);
    }
    #logoName {
        margin-left: 8vw;
    }
    #navigation {
        background-color: rgb(21, 21, 21);
        position: absolute;
        display: none;
        width: 100%;
        top: 7.5vh;
        gap: 0.5em;
        z-index: 2;
        transition: all 0.3s ease-in-out;
        padding-bottom: 1vh;
    }
    #menu {
        filter: brightness(0) invert(1);
        display: block;
        width: 10vw;
        margin-right: 8vw;
    }
    #menuItem1, #menuItem2, #menuItem3, #menuItem4 {
        font-size: 0em;
        transition: all 0.3s ease-in-out;
    }
    #bar1, #bar2 {
        background-color: white;
        border-radius: 1em;
        width: 10vw;
        height: 0.5vh;
        margin-top: 1vh;
        margin-bottom: 1vh;
        transition: all 0.3s;
    }
    /* first div */
    #startDiv {
        background-image: url("https://cdn.discordapp.com/attachments/953366989634699314/962200383487369246/MobileBackground1.png");
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3vh;
    }
    #aboutMe {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 1vh;
    }
    #myImage {
        width: 75%;
        border-radius:50%;
    }
    #browseButton {
        width: 60vw;
    }
    /* quote */
    #quoteDiv {
        height: 40vh;
    }
    #quoteText {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;
        gap: 2vh;
        width: 80%;
    }
    #quote {
        font-size: 1.8em;
        text-align: center;
    }
    #author {
        font-size: 1.2em;
        text-align: center;
        align-self: flex-end;
    }
    /* skills */
    #skillsDiv {
        padding-top: 2.5vh;
        padding-bottom: 4vh;;
        background-image: url("https://cdn.discordapp.com/attachments/953366989634699314/962200383487369246/MobileBackground1.png");
        background-color: #292828;
        background-repeat:no-repeat;
        background-size: cover;
    }
    #skillsTitle {
        display: block;
    }
    #skills {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0;
    }
    .group {
        display: flex;
        flex-direction: row;
        gap: 0;
        justify-content: space-between;
    }
    .language {
        width: 50vw;
        gap: 1vh;
    }
    .languageImage {
        width: 30vw;;
    }
    /* projects */
    #projectDiv {
        display: flex;
        flex-direction: column;
        width: 100vw;
        align-items: center;
    }
    #projectDivTitle {
        text-align: center;
        font-size: 2em;
    }
    .project1 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .project2 {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .projectImage {
        width: 90vw;
    }
    .projectDescription {
        width: 90%;
        gap: 2.5vh;
    }
    .projectTitle {
        text-align: center;
    }
    .learnMoreButton {
        width: 30vh;
    }
    /* end, last div */
    #endDiv {
        padding-bottom: 0vh;
        background-image: url("https://cdn.discordapp.com/attachments/953366989634699314/962200383487369246/MobileBackground1.png");
        background-color: #292828;
        display: flex;
        flex-direction: column;
        height: 70vh;
        text-align: center;
    }
    #contactLogo {
        display: none;
    }
    .contact {
        padding-left: 5vw;
        padding-right: 5vw;
    }
    .sitemap {
        padding-left: 5vw;
        padding-right: 5vw;
    }
    #socialMediaBar {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 2vw;
        width: 100%;
    }
    .socialMedia {
        width: 25vw;
    }
}
