@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600;700&family=Fredoka+One&family=Montserrat:wght@300;500&display=swap');
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    color: white;
}
/* header */
#header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    width: 100%;
}
/* logo */
#logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5vw;
    padding-left: 5vw;
}
#logoImg {
    display: none;
}
#logoName {
    font-size: 1.4em;
    transition: all 0.3s ease-in-out;
}
/* navbar */
#navigation {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3vw;
    padding-right: 5vw;
}
#menuItem1, #menuItem2, #menuItem3, #menuItem4 {
    font-size: 1.2em;
    transition: all 0.3s ease-in-out;
}
#menuItem1:hover, #menuItem2:hover, #menuItem3:hover, #menuItem4:hover, #logoName:hover {
    color: rgb(168, 168, 168);
}
#menu {
    display: none;
}
/* main */
/* start of page */
#startDiv {
    background-image: url("https://cdn.discordapp.com/attachments/953366989634699314/961708315019214868/Background_Waves.png");
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 8vw;
}
#myImage {
    width: 20%;
    border-radius:50%;
}
#aboutMe {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#presenting, #aboutMeDescription {
    font-size: 3em;
    font-weight: 500;
    text-align: center;
}
#aboutMeDescription {
    font-size: 2em;
    font-weight: 300;
}
#browseButton {
    background-color: rgb(21, 21, 21);
    margin-top: 20px;
    border: none;
    border-radius: 4em;
    height:65px;
    width:225px;
    font-size: 1.3em;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
#browseButton:hover {
    background-color: rgb(66, 66, 66);
}
/* quote */
#quoteDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgb(21, 21, 21);
    height: 40vh;
    gap: 10px;
}
#quoteText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
}
#quote {
    font-size: 2em;
    text-align: center;
}
#author {
    align-self: flex-end;
    text-align: center;
}
/* skills */
#skillsDiv {
    background-image: url("https://cdn.discordapp.com/attachments/953366989634699314/961708315019214868/Background_Waves.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 20px;
}
#skillsTitle {
    font-size: 2.5em;
}
.descriptionSkills {
    padding-left: 2vw;
    padding-right: 2vw;
}
#skills, .group {
    display: flex;
    flex-direction: row;
    gap: 5vw;
}
.group {
    padding-bottom: 10px;
}
.language {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.languageImage {
    width: 10vw;
}
.languageName {
    font-weight: 600;
    font-size: 1.4em;
    letter-spacing: 0.15em;
}
.descriptionSkills {
    font-weight: 500;
    font-size: 1.5em;
}
/* projects */
#projectDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    background-color: rgb(21, 21, 21);
    padding-top: 20px;
    padding-bottom: 40px;
}
#projectDivTitle {
    font-size: 2.5em;
    font-weight: 500;
}
.projectImage {
    width: 50vw;
    transition: all 0.3s ease-in-out;
}
.projectImage:hover {
    transform: scale(1.05);
}
.project1, .project2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3vw;
}
.projectDescription {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 40%;
    text-align: justify;
}
.projectTitle {
    font-size: 2em;
    font-weight: 300;
}
.description {
    font-size: 1em;
}
.learnMoreButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    height:60px;
    width:200px;
    border-radius: 2em;
    font-size: 1.3em;
    background-color: #303030;
    transition: all 0.3s ease-in-out;
}
.learnMoreButton:hover {
    background-color: #232323;
}
/* last section, end of page */
#Contact {
    background-image: url("https://cdn.discordapp.com/attachments/953366989634699314/961708315019214868/Background_Waves.png");
    background-size: cover;
    height: 40vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/* contact */
.contact, .sitemap {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 10px;
    padding-left: 5vw;
}
.contactDivTitle {
    font-size: 2.5em;
    font-weight: 500;
}
.contactDescription {
    font-size: 1.2em;
    font-weight: 300;
}
#contactInfo {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.contactItem {
    font-size: 1em;
}
/* socialMedia */
#socialMediaBar {
    display: flex;
    flex-direction: row;
    gap: 1vw;
}
.socialMedia {
    width: 4em;
    transition: all 0.3s ease-in-out;
}
.socialMedia:hover {
    transform: scale(1.1);
}
/* sitemap */
.sitemap {
    padding-left: 0;
}
.sitemapItem {
    font-size: 1em;
    transition: all 0.3s ease-in-out;
}
.sitemapItem:hover {
    color: rgb(168, 168, 168);
}
#contactLogo {
    align-self: center;
    width: 20vw;
    padding-right: 5vw;
    transition: all 0.3s ease-in-out;
}
#contactLogo:hover {
    transform: scale(1.05);
}
/* footer */
#footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(21, 21, 21);
    height: 5vh;
}
#copyright {
    font-weight: 400;
}
/* media query */
@media only screen and (max-width:700px) {
    /* header */
    #header {
        background-color: rgb(21, 21, 21);
        height: 70px;
    }
    #logoName {
        margin-left: 8vw;
    }
    #navigation {
        background-color: rgb(21, 21, 21);
        position: absolute;
        display: none;
        width: 100%;
        top: 65px;
        z-index: 2;
        padding-bottom: 10px;
        transition: all 0.3s ease-in-out;
    }
    #menu {
        filter: brightness(0) invert(1);
        display: block;
        width: 10vw;
        margin-right: 8vw;
    }
    #menuItem1 {
        color: rgb(168, 168, 168);
    }
    #menuItem1, #menuItem2, #menuItem3, #menuItem4 {
        font-size: 0em;
        transition: all 0.3s ease-in-out;
    }
    #bar1, #bar2 {
        background-color: white;
        border-radius: 1em;
        width: 10vw;
        height: 4px;
        margin-top: 1vh;
        margin-bottom: 1vh;
        transition: all 0.3s;
    }
    /* first div */
    #startDiv {
        background-image: url("https://cdn.discordapp.com/attachments/953366989634699314/962200383487369246/MobileBackground1.png");
        background-size: cover;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    #aboutMe {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 5px;
    }
    #myImage {
        width: 60%;
        border-radius:50%;
    }
    #browseButton {
        margin-top: 10px;
        height: 70px;
        width: 60vw;
    }
    /* quote */
    #quoteDiv {
        height: 350px;
    }
    #quoteText {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;
        gap: 10px;
        width: 80%;
    }
    #quote {
        font-size: 1.8em;
        text-align: center;
    }
    #author {
        font-size: 1.2em;
        text-align: center;
        align-self: flex-end;
    }
    /* skills */
    #skillsDiv {
        padding-top: 20px;
        padding-bottom: 20px;
        background-image: url("https://cdn.discordapp.com/attachments/953366989634699314/962200383487369246/MobileBackground1.png");
        background-size: cover;
        text-align: center;
    }
    .descriptionSkills {
        
    } 
    #skills {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0;
    }
    .group {
        display: flex;
        flex-direction: row;
        gap: 0;
        justify-content: space-between;
    }
    .language {
        width: 50vw;
        gap: 20px;
    }
    .languageImage {
        width: 30vw;
    }
    /* projects */
    #projectDiv {
        display: flex;
        flex-direction: column;
        width: 100vw;
        align-items: center;
        gap: 20px;
    }
    #projectDivTitle {
        text-align: center;
        font-size: 2em;
    }
    .project1 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .project2 {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .projectImage {
        width: 90vw;
    }
    .projectDescription {
        width: 90%;
        gap: 20px;
    }
    .projectTitle {
        text-align: center;
    }
    .learnMoreButton {
        height: 60px;
        width: 200px;
    }
    /* end, last div */
    #Contact {
        padding-bottom: 0vh;
        background-image: url("https://cdn.discordapp.com/attachments/953366989634699314/962200383487369246/MobileBackground1.png");
        background-color: #292828;
        display: flex;
        flex-direction: column;
        height: 550px;
        text-align: center;
    }
    #contactLogo {
        display: none;
    }
    .contact, .sitemap {
        gap: 20px;
        padding-left: 5vw;
        padding-right: 5vw;
    }
    #socialMediaBar {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 2vw;
        width: 100%;
    }
    .socialMedia {
        width: 25vw;
    }
}
